RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^([^\.]+)$ $1.php [NC,QSA]

RewriteRule ^film/([0-9a-zA-Z_-]+) single-movie.php?alias=$1 [NC,QSA]
RewriteRule ^series/([0-9a-zA-Z_-]+) single-series.php?alias=$1 [NC,QSA]

